.container {
  margin: 10px 0;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  border: 0;
  border-radius: 3px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.condition {
  font-size: 24px;
}

.current {
  font-size: 38px;
  font-weight: bold;
}